* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef7fb;
}

.container {
  margin: 30px;
  width: 400px;
  height: 400px;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
}
.container .active {
  background: blue;
  cursor: pointer;
  margin: 20px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  width: 75%;
  margin: 10px;
  padding: 20px;
}
.loginForm button,
.Signup button {
  width: 75%;
  padding: 10px;
  background-color: #e6e6e6;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.loginForm button:hover,
.Signup button:hover {
  background-color: #fff;
}
p {
  font-size: 20px;
  color: #333;
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: #4b1aa6;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}
