body {
  background-color: aliceblue;
  text-align: center;
}

input {
  height: 30px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}
button {
  margin: 10px;
  height: 50px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.show-timer {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
